@font-face {
    src: url(font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
    font-family: Roboto-Mono;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
}

*::-webkit-scrollbar-thumb {
    border-left: black 2px solid;
    background-color: white;
    border-radius: 20px;
}

* a {
    text-decoration: none;
}

body {
    font-family: Roboto-Mono;
    color: black;
    min-width: 1400px;
    margin: 0;
}

#preloader {
    background: #111111 url(image/image_processing20210830-20178-1eg6b2f.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


header {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16%;
    color: white;
}

.header-dummy>.logo {
    color: white;
    display: flex;
    align-items: center;
}

.logo>span {
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

header a {
    color: white;
    text-decoration: none;
}

.logout {
    border: solid 2px white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    transition: .3s;
}

.logout:hover {
    background-color: white;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.admin-profile {
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    width: 60%;
    height: 350px;
    margin: 70px 0;
    padding: 10px 30px;
    font-size: 24px;
    flex-direction: column;
}

main h2 {
    display: flex;
    justify-content: right;
    padding: 0 20px;
    font-size: 30px;
}


.admin-data {
    display: flex;
    justify-content: center;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
}

.picture {
    border: white 5px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px;
    overflow: hidden;
}

.picture>img {
    position: relative;
    bottom: 20px;
    z-index: -1;
    height: 260px;
}

.data {
    margin-left: 20px;
}

.button-box {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.button-box div {
    border: 3px solid black;
    width: 160px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.button-box div:hover {
    cursor: pointer;
}

.folder {
    width: 100%;
    padding: 5%;
    margin-top: 50px;
    position: absolute;
    top: 95%;
    background: #ffffff;
    visibility: collapse;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.folder>div {
    width: 80%;
}

#folder1 {
    z-index: 5;
}

#folder2 {
    z-index: 4;
}

#folder3 {
    z-index: 3;
}

#folder4 {
    z-index: 4;
}

.sales-track {
    border: 5px solid #214280;
    color: #214280;
    border-radius: 10px;
    margin: 0 0 100px 0;
    width: 100%;
    height: 200px;
    padding: 10px 20px;
}

.sales-track p {
    font-size: 24px;
    display: flex;
    margin: 15px 0;
}

.sales-track p>b {
    margin: 0 15px;
}

.sales-track hr {
    border: 1px #214280 solid;
}

.device-stock {
    border: #23755d 5px solid;
    color: #23755d;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.device-stock tr:hover:not(.head) {
    background-color: #23755d;
    color: #c1f3e4;
}

.device-stock h2,
.transaction h2 {
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
}

.device-stock th {
    background-color: #c1f3e4;
}

.transaction th {
    background-color: #f3dcc1;
}


.transaction tbody>tr:hover {
    background-color: #ba451a;
    color: #f3dcc1;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

.transaction {
    border: 5px solid #ba451a;
    color: #ba451a;
    border-radius: 10px;
    padding: 30px 20px;
    width: 100%;
}

.transaction button {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 16px;

    @font-face {
        src: url(font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
        font-family: Roboto-Mono;
    }
}

.transaction form>input {
    padding: 5px;
    font-size: 16px;
    font-weight: 6s00;
    background: white;
    border: 2px solid #ba451a;
    color: #ba451a;
    border-radius: 5px;
    cursor: pointer;

    @font-face {
        src: url(font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
        font-family: Roboto-Mono;
    }
}

.transaction form>input:hover {
    background: #f3dcc1;
}

.add-product {
    border: 5px solid #8e44ad;
    color: #8e44ad;
    border-radius: 10px;
    padding: 30px 20px;
    width: 100%;
    font-size: 24px;
}

input::placeholder {
    font-family: Roboto-Mono;
}

.add-product label {
    font-size: 18px;
    font-weight: 600;
}

.add-product input {
    height: 40px;
    width: 300px;
    margin: 10px;
    padding: 5px;
    outline: 0;
    border: 2px solid #8e44ad;
    border-radius: 5px;
}

.add-product .product-info {
    margin-bottom: 20px;
    padding: 0 20px;
}

.add-product>form>h4 {
    margin-left: 20px;
}

.add-product>form>p {
    font-size: 20px;
}

.add-product .product-desc {
    margin-top: 10px;
    text-align: center;
}

.add-product .product-desc input[type="text"] {
    width: 40%;
    height: 60px;
    font-size: 16px;
}

.add-product .product-desc input[type="submit"] {
    display: block;
    margin: 30px auto;
    background: #eed0fb;
    color: #8e44ad;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    width: 85%;
    border: 3px solid #8e44ad;
}

.device {
    border: 5px solid #8e44ad;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
    width: 100%;
}

.device-preview {
    background: #f2e2f9;
    border: 4px solid #8e44ad;
    border-radius: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.device-preview>a {
    width: 100%;
    height: 250px;

}

.device-preview>div {
    width: 100%;
}

.device-preview .device-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-preview .device-brief-info {
    border-top: 4px solid #8e44ad;
    color: #8e44ad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

.device-brief-info p {
    text-align: center;
    height: 50px;
}

.device-brief-info>a:not(:first-child) {
    background: #8e44ad;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}