@font-face {
    src: url(font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
    font-family: Roboto-Mono;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

*::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
}

*::-webkit-scrollbar-thumb {
    border-left: black 2px solid;
    background-color: white;
    border-radius: 20px;
}

body {
    font-family: Roboto-Mono;
    color: black;
    min-width: 1400px;
    margin: 0;
}

#preloader {
    background: #111111 url(image/image_processing20210830-20178-1eg6b2f.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


header {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50%;
}

header a {
    color: white;
    text-decoration: none;
}

.header-dummy>.logo {
    color: white;
    display: flex;
    align-items: center;
}

.logo>span {
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

.logout {
    border: solid 2px white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    transition: .3s;
}

.logout:hover {
    background-color: white;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

main>h2 {
    display: flex;
    margin-top: 50px;
}

main>div {
    border: solid 3px black;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 5px;
    align-items: left;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
}

.profile {
    border: solid 3px black;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 5px;
    align-items: left;
    margin: 20px;
    padding: 20px;
    font-size: 18px;

}

.profile-view {
    position: absolute;
}

.profile-edit {
    display: flex;
    visibility: hidden;
}

.profile-edit>p>input {
    padding: 3px;
}

#save {
    padding: 5px 30px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

#cancel {
    padding: 5px 30px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;

}

h2 img {
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
    height: 30px;
    border-radius: 50%;
}

.address-list {
    display: flex;
    justify-content: center;
}

#address-view {
    position: absolute;
    width: 100%;

}

.address-list>p {
    visibility: visible;
    margin-bottom: 15px;
    margin-left: 5px;
    font-weight: 500;
}

#have-address {
    visibility: visible;
    border: 2px #00a2ff solid;
    background-color: hsla(194, 100%, 50%, 0.2);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    width: 67%;
    margin-top: 20px;
}

#address-edit {
    visibility: hidden;
}


.address-edit>input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;

}

.address-edit>div>input {
    padding: 5px 20px;
    color: white;
    background: black;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.order-list {
    min-height: 70px;
}

#no-order {
    visibility: collapse;
    position: absolute;
}

.have-order,
.title {
    display: flex;
}

.order-box {
    display: flex;
    flex-direction: column-reverse;
}

.have-order>div,
.title>p {
    border-bottom: black 1px solid;
    padding: 10px;
}

.title>p {
    font-weight: 600;
}

.have-order a {
    text-decoration: none;
    color: #002fff;
}